/* your styles go here */
.entry-content p {
	text-align: justify;
	text-indent: 20px;
}

.entry-content .no-indent{
	text-indent: 0px;
}

.entry-content p img{
	text-indent: 0
}

.entry-content .grey-box {
	background-color: #f5f5f5;
	padding: 20px 30px;
	text-indent: 20px;
}

.entry-content .warning-box {
	background-color: #fff4c3;
	padding: 20px 30px;
	text-indent: 20px;
}

#tech-box {
	font-family: "Courier New";
	background-color: #4d4d4d;
	color:#f5f5f5;
}

.entry-content ul {
	margin: 0em 1.5em 1.5em 1em;
	list-style-type: none;
}

.entry-content ul li:before {
	content: "- ";
}